<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard - Real Estate Application</title>
  <script>
    const userName = "{{ user.get_full_name }}";
    const userRole = "{{ user.profile.role }}"; // Assuming the user's role is stored in a 'profile' related model with a 'role' field
  </script>
  <link rel="stylesheet" href="{% static 'RealEstate/css/dashboard.css' %}">
  <script src="{% static 'RealEstate/js/dashboard.js' %}"></script>
</head>
<body>
  <header>
    <nav>
      <li><a href="{% url 'index' %}" >Home</a></li>
      <ul>
        <li><a href="{% url 'dashboard' %}" >Dashboard</a></li>
        <li><a href="{% url 'logout' %}" >Logout</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section class="dashboard">
      <h2>Welcome, [User Name]!</h2>
      <div class="user-role">
        <h3>[User Role]</h3>
        <!-- Display content based on the user role -->
        <!-- Agent -->
        <div class="agent-content">
          <!-- Add/modify/delete properties, view bookings -->
          <a href="{% url 'property_search' %}">Add Property</a>
          <a href="{% url 'property_list' %}">Manage Properties</a>
          <a href="{% url 'manage_bookings' %}">View Bookings</a>
        </div>
        <!-- Perspective Renter -->
        <div class="perspective-renter-content">
          <!-- Add/modify/delete addresses and payment methods, search for properties, book properties, manage bookings -->
          <a href="{% url 'profile' %}">Add Address</a>
          <a href="{% url 'profile' %}">Manage Addresses</a>
          <a href="{% url 'payment_info' %}">Add Payment Method</a>
          <a href="{% url 'payment_info' %}">Manage Payment Methods</a>
          <a href="{% url 'property_search' %}">Search Properties</a>
          <a href="{% url 'manage_bookings' %}">Manage Bookings</a>
        </div>
        <!-- User -->
        <div class="user-content">
          <!-- Explore available properties -->
          <a href="{% url 'property_search' %}">Explore Properties</a>
        </div>
      </div>
    </section>
  </main>
  <footer>
    <p>&copy; 2023 RealEstate. All Rights Reserved.</p>
  </footer>

</body>
</html>
