<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Property Details</title>
  <link rel="stylesheet" href="{% static 'RealEstate/css/property_details.css' %}">

</head>
<body>
  <header>
    <nav>
      <a href="index.html" class="logo">RealEstate</a>
      <ul class="nav-links">
        <li><a href="{% url 'index' %}" >Home</a></li>
        <li><a href="{% url 'property_search' %}" >Search Properties</a></li>
        <li><a href="{% url 'dashboard' %}" >Dashboard</a></li>
        <li><a href="{% url 'logout' %}" >Logout</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section class="property-details">
      <h2>{{ property.property_type }} - {{ property.city }}, {{ property.state }}</h2>
      <p>Price: ${{ property.price.rental_price }}</p>
      <p>{{ property.description }}</p>
      <p>Agent: {{ property.agent.user.first_name }} {{ property.agent.user.last_name }}</p>
      <p>Agency: {{ property.agent.agency }}</p>
    </section>
  </main>
  <footer>
    <p>&copy; 2023 - My Real Estate Application</p>
  </footer>

</body>
</html>
