<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - Real Estate Application</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'RealEstate/css/signup.css' %}">
</head>
<body>
    <header>
        <nav>
            <li><a href="{% url 'index' %}">Home</a></li>
        </nav>
    </header>
    <main>
        <section class="signup">
            <h2>Create an Account</h2>
            <form method="post" action="{% url 'signup' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Sign Up</button>
            </form>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 RealEstate. All Rights Reserved.</p>
    </footer>
</body>
</html>
